@mixin aec-dropdown-menu-style {
    background: $white!important;
    border: $border solid $gray-strong;
    border-radius: 0px;
    box-shadow: $shadow $black;
    color: $white;
    border: $border; 
    padding: 0px!important;
    .dropdown-item {
        font-size: $small;
        font-weight: normal;
        padding: $tiny $small;
        color: $black!important;
        &:hover, &:active {
            color: $white!important;
            background: $primary-strong!important;
        }
    }
}

.aec-category-select, .aec-type-select, .aec-nutrient-select, .aec-difficulties-select {
    button {
        @include aec-action-style;
    }
    .dropdown-menu {
        @include aec-dropdown-menu-style;
    }
}